@{ Layout = null; }
@using R = Resources.Play
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=no">
    <title>Game Jam - Fun</title>
    <meta property="og:image" content="http://gamejamfun.jok.io/Images/user_avatar_hp_4.png">
    <script>
        var ML = {
            A002: '@R.A002',
            A003: '@R.A003',
        }
    </script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/js")
</head>
<body>
    <div id="Game">
        <img class="user_avatar" data-hp="5" src="~/Images/user_avatar_hp_5.png" />
        <div class="balance">
            <img class="tomato" src="~/Images/tomato.png" style="position: relative;" />
            <span>100</span>
        </div>
        <img class="tribuna" src="~/Images/gift-package.png" />
        <div class="result"></div>
        <div class="volume">
            <span class="glyphicon glyphicon-volume-off" style="display: none;"></span>
            <span class="glyphicon glyphicon-volume-up"></span>
        </div>
    </div>
    <div id="Menu">
        <div class="start">
            <img src="~/Images/gamejam.png" /><br /><br />
            <button id="StartGame" class="btn btn-default">@R.A001</button>
        </div>
        <div class="finish">
            <div class="results"></div>
            <button id="PlayAgain" class="btn btn-default">@R.A004</button>
        </div>
    </div>
    <script src="http://debug.jok.io/target/target-script-min.js#anonymous"></script>
</body>
</html>
