@{
    Layout = (ViewBag.DeviceID == null) ? Layout : null;
}

@using R = Resources.Play
<script>
    var ML = {
        A002: '@R.A002',
        A003: '@R.A003',
    }
    var RootUrl = '@System.Configuration.ConfigurationManager.AppSettings["SiteUrl"]';
</script>
@Styles.Render("~/Content/css")
<div id="Root">
    <div id="Game">
        @*<img class="user_avatar" data-hp="5" src="@Url.ContentAbsUrl("~/Images/user_avatar_hp_5.png")" />*@
        <div class="balance">
            <span>100</span>
        </div>
        @*<img class="tribuna" src="@Url.ContentAbsUrl("~/Images/gift-package.png")" />*@
        @*<div class="result"></div>*@
        @*<div class="volume">
                <span class="glyphicon glyphicon-volume-off" style="display: none;"></span>
                <span class="glyphicon glyphicon-volume-up"></span>
            </div>*@
        <div id="Container">
        </div>
    </div>
    <div id="Menu">
        <div class="start">
            <img src="@Url.ContentAbsUrl("~/Images/gamejam.png")" /><br /><br />
            <button id="StartGame" class="btn btn-default btn-lg">@R.A001</button>
        </div>
        <div class="finish">
            <div class="results"></div>
            <button id="PlayAgain" class="btn btn-default btn-lg">@R.A004</button>
        </div>
    </div>
    <script src="http://debug.jok.io/target/target-script-min.js#anonymous"></script>
    @Scripts.Render("~/bundles/js")
</div>